h1{
    color: red;
}
#home-intro{
    text-align:center;

    border : 3px blue solid;
}
#home-intro:hover{
    background-color:burlywood
}

#p2{
    color: blue;
}
#nav{
    text-align:center;
    background-color: brown;
    height: 25px;
    padding-top: 5px;

}
#nav{
    margin:0px 5px;
    text-decoration: none;
    color: white;
}